.product {
    &__container {
        display: grid;
        grid-template-columns: 55% 45%;
        justify-items: stretch;
    }

    &__description {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    
    &__link {
        align-self: self-end;
    }
}