.cart {
    &__container {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-items: stretch;
        gap: 1rem;

        & table td {
            text-align: center;
            vertical-align: middle;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__table {
        & td, th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
    }

    &__remove {
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__empty {
        text-align: center;
        font-size: 1.5rem;
    }

    &__success {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &__payments img {
        margin: auto;
    }

    &__image {
        margin: auto;
        width: 150px;
    }
}

.text-right {
    text-align: right!important;
}

.text-center {
    text-align: center!important;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
}

.cart-footer__container {
    display: flex;
    justify-content: space-between;
}

.dlist-align {
    display: flex; 
}
.dlist-align dt {
    width: 120px;
    word-wrap: break-word;
    font-weight: normal; }
.dlist-align dd {
    flex-grow: 1; }

@media screen and (max-width: 750px) {
    .cart__container {
        grid-template-columns: 100%;
    }
}