.checkout {
    max-width: 600px;
    margin: auto;
    align-items: center;

    &__container {
        gap: 2rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__delivery {
        display: flex;
        justify-content: space-between;
    }
}